<suite name="Selenium101Assignment" parallel="tests" thread-count="2">

  <test name="Windows_Chrome">
    <parameter name="browser" value="chrome"/>
    <parameter name="platform" value="Windows 10"/>
    <parameter name="version" value="latest"/>
    <classes>
      <class name="tests.SimpleFormTest"/>
      <class name="tests.InputFormTest"/>
    </classes>
  </test>

  <test name="Mac_Safari">
    <parameter name="browser" value="safari"/>
    <parameter name="platform" value="macOS Catalina"/>
    <parameter name="version" value="latest"/>
    <classes>
      <class name="tests.SimpleFormTest"/>
      <class name="tests.InputFormTest"/>
    </classes>
  </test>

</suite>
